################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/gmj2book/v15
/gmj2book/bin/Debug
/gmj2book/obj/Debug
